<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <mvc.renderRendering>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.Presentation.Pipelines.RenderRendering.RenderFromCacheExclusively, Sitecore.XA.Foundation.Presentation']" type="Sitecore.Support.XA.Foundation.Presentation.Pipelines.RenderRendering.RenderFromCacheExclusively, Sitecore.Support.322824" resolve="true"/>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>